-
  let brand       = ""
  let title       = "(untitled)"
  let description = "(undescribed)"
  let author      = ""

  let og_title    = ""
  let og_type     = "website"
  let og_url      = ""
  let og_image    = ""
  let og_imageAlt = ""

  let publisher   = "Tidloo.com"
  let year        = new Date().getFullYear()

  let homeUrl     = "./"
  let version     = "0.0.1"

  let lang        = "en"
  let charset     = "utf-8"
  let colorScheme = "light dark"
  let themeColor  = "#222"

  let pageWidth   = "960px"
