extends ../_templates/html

block append vars
  -
    title = 'Umrah Haji'
  //- 

block append style
  style.
  //- 

block append meta
  //- pwa manifest
  link(rel="manifest" href=homeUrl+"manifest.json")/

block main
  main#_main
    article