/*
01234567
fedcba98
*/

$theme-color      : #222;

$light-background : #ddd;
$light-foreground : #555;
$light-titlecolor : #222;

$dark-background  : #222;
$dark-foreground  : #aaa;
$dark-titlecolor  : #ddd;

$light-primary-button-bg   : #bbb;
$light-primary-button-fg   : #222;

$light-secondary-button-bg : #ccc;
$light-secondary-button-fg : #222;

$dark-primary-button-bg    : #444;
$dark-primary-button-fg    : #ddd;

$dark-secondary-button-bg  : #333;
$dark-secondary-button-fg  : #ddd;

// $link-color         : #0044cc;
// $link-color-visited : #551a8b;
// $link-color-hover   : #ff6600;
// $link-color-active  : #cc0000;

$light-link-color         : #0044cc;
$light-link-color-visited : #551a8b;

$dark-link-color         : #4e89ff;
$dark-link-color-visited : #bf7bff;